<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079746530059-gimuje681hp89uqj85e5v3idng5hlnre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079746530059-gimuje681hp89uqj85e5v3idng5hlnre</string>
	<key>API_KEY</key>
	<string>AIzaSyBNGzCm9YcNjGH1os90HFthU_38C_8MOx0</string>
	<key>GCM_SENDER_ID</key>
	<string>1079746530059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bohdankachenko.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-4fb96</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-4fb96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079746530059:ios:193b34307c8ccc9552300e</string>
</dict>
</plist>